.CoveoHelloWorld {
  color: red;
  height: 50px;
  background: green;
  text-align: center;
  font-size: 30px;
}
.CoveoTab p {
  height: 100%;
  color: white;
  font-size: 50px;
  font-family:  Roboto, sans-serif;
}
.coveo-facet-header-title{
  color: white;
}
.coveo-facet-header{
  background-color: red;
}
.coveo-facet-header-operator{
  color:white;
}
.coveo-facet-settings-more-svg{
  color: white;
}